div.LucketStepIcon {
    height: var(--status-icon-height);
    width: 75px;
    max-width: 75px;
    min-width: 75px;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 10px;
    text-align: center;
    border-style: solid;
    border-color: lightgray;
    }

div.LucketStepIconShort {
        height: var(--status-icon-height);
        margin-top: auto;
        margin-bottom:auto;
        margin-left: 10px;

        }

.StepMenu {
    position: relative;
    background-color: beige;
    left: -10px;
    top:-30px;
    flex-direction: row;
    display: flex;
    width:350px;
    height: 40px;
    border-radius: 10%;
    }
         
.StepCallout {
        position: relative;
        background-color: beige;
        left: -5px;
        top:2px;
        width: 35px;
        height: 35px;
        transform: rotate(45deg);
        }
            