.LucketIcon {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.LucketIconsClose {
    text-align: left;
    margin-left: 20px;
}