div.LucketStatusIcon {
    height: var(--status-icon-height);
    width: var(--status-icon-height);
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 10px;
    border-radius: 50%;

    }

.Menu {
    position: relative;
    left: 20px;
    flex-direction: row;
    display: flex;
    width:calc(var(--status-icon-height) * 10);
    }
         
      