div.LucketTimeFrameIcon {
        height: var(--status-icon-height);
        width: 65px;
        max-width: 65px;
        min-width: 65px;
        margin-top: auto;
        margin-bottom:auto;
        margin-left: 3px;
        border-style: solid;
        text-align: center;
        border-color: lightgray;
    }

div.LucketTimeFrameIconShort {
        height: var(--status-icon-height);
        width: 100px;
        margin-top: auto;
        margin-bottom:auto;
        margin-left: 10px;
        border-radius: 50%;
    }

.TimeFrameMenu {
        position: relative;
        background-color: beige;
        left: -80px;
        top:-30px;
        flex-direction: row;
        display: flex;
        width:375px;
        height: 40px;
    }
         
.TimeFrameCallout {
        position: relative;
        background-color: beige;
        left: -5px;
        top:0px;
        width: 35px;
        height: 35px;
        transform: rotate(45deg);
    }
            