div.LucketTimeFrameIcon {
    height: var(--status-icon-height);
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 10px;
    }

div.LucketTimeFrameIconShort {
        height: var(--status-icon-height);
        width: 100px;
        margin-top: auto;
        margin-bottom:auto;
        margin-left: 10px;
        border-radius: 50%;
    
        }

.Menu {
    position: relative;
    background-color: beige;
    left: -80px;
    top:-30px;
    flex-direction: row;
    display: flex;
    width:350px;
    height: 40px;
    }
         
.Callout {
        position: relative;
        background-color: beige;
        left: -5px;
        top:0px;
        width: 35px;
        height: 35px;
        transform: rotate(45deg);
        }
            