.LucketsList {
    background-color: gainsboro;
    border: 3px solid blue;
    width: 100%;
    height: calc(100% - var(--header-and-footer-height));
    overflow: scroll;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

