.LucketForm {     
}

.ItemLeft {
    display: flex;
    width: 30%;
}

.FormItem {
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    display: flex;
}

.FormClose{
    max-width: 30px;
    max-height: 30px;
    position: relative;
    top:-5px;
}

.FormInputPoints {
    box-sizing: border-box;
    border: 1px solid black;
    height: var(--status-icon-height);
    width: var(--status-icon-height);
    text-align: center;
    margin-left: 5px;
}



.FormInputText {
    box-sizing: border-box;
    border: 1px solid black;
    height: var(--status-icon-height);
    width: 150px;
}

.FormTextAreaSmall {
    box-sizing: border-box;
    border: 1px solid black;
    height: 30px;
    width: 250px;
}

.FormTextArea {
    box-sizing: border-box;
    border: 1px solid black;
    height: 60px;
    width: 100%;
}