div.IconToggle {
    height: 30px;
    width: 30px;
    margin-top:  10px;
    margin-bottom:auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;


}