.material-icons.orange600 { 
    color: #FB8C00;
}


.LucketItem {
    background-color: darkgrey;
    vertical-align: middle;
    border-bottom-style: solid;
    text-align: left;
}


.LucketIcon {
    background-color: darkgrey;
    vertical-align: middle;
    width: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 7px;
    margin-left: 5px;
}