.FocusLucket {
    background-color: gainsboro;
    vertical-align: middle;
    border-bottom-style: solid;
    text-align: left;

}
.testasd{
    background-color: gainsboro;
    vertical-align: middle;
    border-bottom-style: solid;
    text-align: left;
}
.testsd{
    background-color: gainsboro;
    vertical-align: middle;
    border-bottom-style: solid;
    text-align: left;
}