.Footer {
    background-color: white;
    width: 100%;
    height: var(--footer-height);
}


.FooterItemLeft {
    display: flex;
    width: 30%;
}
.FooterItemCenter {
    display: flex;
    width: 40%;
}
.FooterItemRigth {
    justify-content: flex-start;
    display: flex;
}