.material-icons.vertically-centered { 
    vertical-align: middle;
}


.LucketItem {
    display: flex;
    background-color: darkgrey;
    vertical-align: middle;
    text-align: left;
}

.FocusBackgroundColor {
    background-color: lightgray;
}