.material-icons.vertically-centered { 
    vertical-align: middle;
}


.LucketItem {
    display: flex;
    background-color: darkgrey;
    vertical-align: middle;
    border-bottom-style: solid;
    text-align: left;
}