.material-icons.vertically-centered { 
    vertical-align: middle;
}

.LucketItem {
    width: 100%;
    display: flex;
    background-color: lightgray;
    vertical-align: middle;
    text-align: left;
}

.FocusLucketItem {
    width: 99.7%;
    display: flex;
    border: 2px solid red;
    background-color: darkgrey;
    vertical-align: middle;
    text-align: left;
}

.ItemLeft {
    display: flex;
    width: 30%;
}
.ItemCenter {
    display: flex;
    width: 40%;
}
.ItemRigth {
    justify-content: flex-end;
    display: flex;
    width: 30%;
}
