div.LucketStatusIcon1 {
    height: var(--status-icon-height);
    width: 0px;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 10px;
    border-radius: 50%;

    }

div.LucketStatusIconShort1 {
        height: var(--status-icon-height);
        width: var(--status-icon-height);
        margin-top: auto;
        margin-bottom:auto;
        margin-left: 10px;
        border-radius: 50%;
    
        }

.LucketStatusIcon1Menu {
    position: relative;
    background-color: beige;
    left: -80px;
    top:-40px;
    flex-direction: row;
    display: flex;
    width:calc(35px * 6 + 10px);
    height: 40px;
    border-radius: 10%;
    }
         
.LucketStatusIcon1Callout {
        position: relative;
        background-color: beige;
        left: -5px;
        top:30px;
        width: 35px;
        height: 35px;
        transform: rotate(45deg);
        }


.LucketIcon1 {
            display: block;
            width: 30px;
            height: 30px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
        }          