.status-purple {
  background-color: purple
}
.status-blue {
  background-color: blue
}
.status-green {
  background-color: green
}
.status-white {
  background-color: white
}
.status-yellow {
  background-color: yellow
}
.status-orange {
  background-color: orange
}
.status-red {
  background-color: red
}

.status- {
  background-color: 
}


:root {
    --status-icon-height: 20px;
    --header-height: 35px;
    --footer-height: 35px;
    --lucket-title-width: 150px;
    --header-and-footer-height: calc(var(--header-height) + var(--footer-height));
}

html, body, #root {
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  box-sizing: border-box;
  text-align: center;
  height: 100%;
}