:root {
    --header-height: 20px;
    --footer-heigth: 20px;
    --footer-and-header-heigth: calc(var(--header-height) + var(--footer-height));
}

html, body, #root {
  height: 100%;
  margin: 0px;
  border: 2px solid red;
  box-sizing: border-box;
}

.App {
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  border: 2px solid greenyellow;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
