div.LucketActionStatusIcon {
    height: var(--status-icon-height);
    width: var(--status-icon-height);
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 10px;
     
}

.ActionStatusMenu {
    position: relative;
    background-color: beige;
    left: -50px;
    top:-3px;
    flex-direction: row;
    display: flex;
    width:calc(35px * 8 + 10px);
    height: 40px;
    border-radius: 10%;
    }
         
.ActionStatusCallout {
        position: relative;
        background-color: beige;
        left: -5px;
        top:30px;
        width: 35px;
        height: 35px;
        transform: rotate(45deg);
        }

.ActionStatusImage {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin:0px;
}